{% extends "base.html" %}

{% load static%}

        {% block  css%}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

        {% endblock%}




        {% block content%}

    



            <h1>Student Management System</h1>
        
        
            <div class="form">
        
                <div class="outer">
                    <form method="POST" action="{%url 'login'%}">

                        {% csrf_token %}
                        <label >USER NAME:</label><br>
                        <input type="text" placeholder="Insert your Username" name="user">
                        <br>
                        <label >PASSWORD:</label><br>
                        <input type="password" placeholder="Insert your Password" name="password">
                        <button>Submit</button>
                        
                        
                    </form>
                    
                </div>
                
            </div>
        
        

        {% endblock%}